
@section scripts{
    <script>
        (function() {
            document.getElementById("Add").innerHTML = "adding";

        })();
      

    </script>
}
@if (ViewBag.Member == 1)
{
    <span id="Add">Added</span>
}

