
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>

<input type="text" id="Room" />
<input type="button" id="AddMember" value="Send" />
<div id="messages"></div>
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>

}

