
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>



<input type="text" id="Room" />
<input type="button" id="AddMember" value="Send" />
<div id="messages"></div>



@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>

    <script type="text/javascript">
        var group = '@ViewBag.Room';
        (function() {
            $.connection.hub.start()
                .done(function() {

                    $.connection.chatHub.server.joinRoom(group);
                    $.connection.hub.logging = true;
                    console.log("It Worked");
                    $("#AddMember").click(function() {
                        $.connection.chatHub.server.sendMessage($("#Room").val(), group)
                        $("#Room").val(" ");
                        console.log("It Worked");
                    });

                })
                .fail(function() {
                    alert("pramod ho gya");
                });


            $.connection.chatHub.client.sendMessage = function(message, groupName) {
                $("#messages").append(message + "<br />");
            }
        })();
      

       

    </script>



}




@*
    var array = Html.Raw(
    Json.Encode(
    ((IEnumerable<tblProject>)ViewBag.Room).Select(user => new
    {
    userId = user.ProjectName,

    })
    )
    );
*@
