
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>

<h3>Welcome to our Website</h3>
@Html.ActionLink("Register","Register","Home")

@section scripts{
    <style>
        body {
            background-image: url('../../StyleImages/adult-architect-architectural-design-1260309.jpg');
            background-size : cover;
            background-repeat : no-repeat;
            height: 100%;
            width: 100%;
            color:white;

        }
    </style>
}


